<div
    class="w-52 flex-col text-white space-y-1 list-inside hidden md:flex absolute right-0 top-1/2">
    <a
        href=""
        class="flex flex-col p-3 bg-black/50 w-52 hover:bg-black/75 hover:-translate-x-4 hover:w-56 transition-all">
        <span class="font-semibold">
            Deklaracje środowiskowe
        </span>Czym są deklaracje EPD
    </a>
    <a
        href="#about-us"
        class="flex flex-col p-3 bg-black/50 w-52 h-20 space-x-2 hover:bg-black/75 hover:-translate-x-4 hover:w-56 transition-all">
        <span class="font-semibold">O NAS</span>kim jesteśmy
    </a>
    <a
        href=""
        class="flex flex-col p-3 bg-black/50 w-52 hover:bg-black/75 hover:-translate-x-4 hover:w-56 transition-all">
        <span class="font-semibold">KONTAKT</span>zapraszamy
        do kontaktu
    </a>
</div>
