---
import Main from 'sections/CoopPage/Main.astro'
import Layout from 'layouts/Layout.astro'
import Contact from 'sections/CoopPage/Contact.astro'
---

<Layout title="Współpraca z nami">
    <main><Main /><Contact /></main>
</Layout>
