---
import AboutUs from 'sections/MainPage/AboutUs.astro'
import Header from 'sections/MainPage/Header.astro'
import Layout from 'layouts/Layout.astro'
import Info from 'sections/MainPage/Info.astro'
import Coop from 'sections/MainPage/Coop.astro'
import Contact from 'sections/MainPage/Contact.astro'
---

<Layout title="Welcome to Astro.">
    <main>
        <Header />
        <Info />
        <AboutUs />
        <Coop />
        <Contact />
    </main>
</Layout>
