---
import logo from 'images/logo2.png'
---

<section
    id="coop"
    class="bg-white text-black border-t border-slate-500">
    <div
        class="container flex flex-row flex-wrap justify-between mx-auto space-y-5 md:space-y-0 px-5 md:px-0 font-semibold">
        <div
            class="flex flex-col md:w-1/2 space-y-4 w-full items-center md:items-start">
            <img
                src={logo}
                alt="logo-certbud"
                height="22px"
                class="h-16 w-32"
            />
            <h2 class="font-bold text-justify">
                Lorem Ipsum is simply dummy text of the
                printing and typesetting industry.
            </h2>
            <a class="text-green" href="mailto:">
                sekretariat@certyfikacja-certbud.pl
            </a>
            <div
                class="flex md:flex-row justify-center flex-col items-center md:space-x-2 md:space-y-0 space-y-0 text-green">
                <a href="">Politycka prywatności</a>
                <a href="">Cookies</a>
                <a href="">Regulamin</a>
            </div>
        </div>
        <div
            class="w-full md:w-1/4 flex flex-col sm:items-start items-center">
            <h3 class="text-green text-xl">
                Dane adresowe
            </h3>
            <ul class="text-sm space-y-2">
                <li>
                    Adres:
                    <br />
                    ul. Mokotowska 46 lok. 8
                    <br />
                    00-543 Warszawa
                </li>
                <li>
                    Biuro:
                    <br />
                    ul. Bukowiecka 92 lok. 178
                    <br />
                    03-893 Warszawa
                </li>
                <li>
                    Laboratoria Badawcze i Wzorujące:
                    <br />
                    ul. Bukowiecka 92 lok. 178
                    <br />
                    03-893 Warszawa
                </li>
            </ul>
        </div>
    </div>
</section>
