---
import Divider from 'components/SmallComponents/Divider.astro'
import MainCard from 'components/SmallComponents/MainCard.astro'
---

<section id="about-us" class="bg-slate">
    <div
        class="flex flex-col container mx-auto px-5 space-y-5">
        <p class="text-green font-bold">KIM JESTEŚMY</p>
        <h2 class="font-bold text-3xl lg:text-3xl">
            Jesteśmy zespołem doświadczonych specjalistów,
            dążących do zapewnienia najlepszej jakości usług
            w zakresie procesu tworzenia deklaracji
            środowiskowych.
        </h2>
        <Divider />
        <div class="flex flex-col px-3">
            <p
                class="font-semibold text-xl opacity-60 text-justify">
                Nasze doświadczenie i wiedza pozwalają nam
                na świadczenie usług na najwyższym poziomie,
                gwarantując uzyskanie deklaracji EPD zgodnej
                z najlepszymi praktykami i wymaganiami
                rynku. Współpracujemy z naszymi klientami,
                aby zrozumieć ich potrzeby i dostosować
                nasze usługi do ich indywidualnych wymagań.
                Z nami możesz liczyć na:
            </p>
            <div
                class="flex flex-col lg:flex-row w-full py-2">
                <div
                    class="flex flex-col sm:flex-row lg:w-1/2 w-full">
                    <MainCard
                        number="1"
                        title="Szybkość"
                        text="Nasza zaawansowana technologia i wiedza branżowa pozwala nam na szybką i skuteczną realizację projektów deklaracji EPD."
                    />
                    <MainCard
                        number="1"
                        title="Szybkość"
                        text="Nasza zaawansowana technologia i wiedza branżowa pozwala nam na szybką i skuteczną realizację projektów deklaracji EPD."
                    />
                </div>
                <div
                    class="flex flex-col sm:flex-row lg:w-1/2 w-full">
                    <MainCard
                        number="1"
                        title="Szybkość"
                        text="Nasza zaawansowana technologia i wiedza branżowa pozwala nam na szybką i skuteczną realizację projektów deklaracji EPD."
                    />
                    <MainCard
                        number="1"
                        title="Szybkość"
                        text="Nasza zaawansowana technologia i wiedza branżowa pozwala nam na szybką i skuteczną realizację projektów deklaracji EPD."
                    />
                </div>
            </div>
            <p
                class="font-semibold text-xl opacity-60 text-justify">
                Zapraszamy do współpracy i skorzystania z
                naszych usług. Chętnie odpowiemy na wszelkie
                pytania i udzielimy dodatkowych informacji
                na temat naszej działalności.
            </p>
        </div>
    </div>
</section>
