<section id="contact" class="bg-slate">
    <div
        class="container flex flex-col items-center mx-auto px-5 space-y-5">
        <h3 class="lg:text-4xl text-2xl text-center pb-5">
            Chcesz dowiedzieć się więcej na temat naszych
            usług? <br /><br />
            <span class="font-bold">
                Nasi specjaliści są do Twojej dyspozycji.
            </span>
        </h3>
        <a
            href=""
            class="flex relative w-52 h-16 p-1 text-5xl items-center justify-center self-center group">
            <div
                class="w-2 h-10 bg-green absolute -top-1 -left-1 overflow-hidden h- group-hover:h-[4.5rem] transition-all ease-linear">
            </div>
            <div
                class="w-10 h-2 bg-green absolute -top-1 -left-1 overflow-hidden group-hover:w-[13.5rem] transition-all ease-linear">
            </div>
            <div
                class="w-2 h-10 bg-green absolute -bottom-1 -right-1 overflow-hidden group-hover:h-[4.5rem] transition-all ease-linear">
            </div>
            <div
                class="w-10 h-2 bg-green absolute -bottom-1 -right-1 overflow-hidden group-hover:w-[13.5rem] transition-all ease-linear">
            </div>
            <span
                class="z-10 w-full h-full text-center p-1">
                Kontakt
            </span>
        </a>
    </div>
</section>
